USE [master]
GO
/****** Object:  Database [PRJ301Assignment]    Script Date: 11/8/2025 11:22:47 PM ******/
CREATE DATABASE [PRJ301Assignment]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRJ301Assignment', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PRJ301Assignment.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRJ301Assignment_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PRJ301Assignment_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRJ301Assignment].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRJ301Assignment]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 11/8/2025 11:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[did] [int] IDENTITY(1,1) NOT NULL,
	[dname] [nvarchar](150) NOT NULL,
	[superior] [int] NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[did] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 11/8/2025 11:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[eid] [int] IDENTITY(1,1) NOT NULL,
	[ename] [nvarchar](200) NOT NULL,
	[edob] [date] NOT NULL,
	[eaddress] [nvarchar](200) NOT NULL,
	[ephone] [varchar](20) NOT NULL,
	[did] [int] NOT NULL,
	[email] [varchar](100) NOT NULL,
	[egender] [bit] NOT NULL,
	[ManagerID] [int] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[eid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollment]    Script Date: 11/8/2025 11:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollment](
	[eid] [int] NOT NULL,
	[uid] [int] NOT NULL,
	[active] [bit] NOT NULL,
 CONSTRAINT [PK_Enrollment] PRIMARY KEY CLUSTERED 
(
	[eid] ASC,
	[uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feature]    Script Date: 11/8/2025 11:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feature](
	[fid] [int] IDENTITY(1,1) NOT NULL,
	[url] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Feature] PRIMARY KEY CLUSTERED 
(
	[fid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveStatusHistory]    Script Date: 11/8/2025 11:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveStatusHistory](
	[hid] [int] IDENTITY(1,1) NOT NULL,
	[reqid] [int] NOT NULL,
	[new_status] [int] NOT NULL,
	[changed_by_eid] [int] NULL,
	[changed_at] [datetime2](3) NOT NULL,
	[note] [nvarchar](max) NULL,
 CONSTRAINT [PK_LeaveStatusHistory] PRIMARY KEY CLUSTERED 
(
	[hid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReasonType]    Script Date: 11/8/2025 11:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReasonType](
	[rtid] [int] IDENTITY(1,1) NOT NULL,
	[rcode] [nvarchar](50) NOT NULL,
	[rname] [nvarchar](150) NOT NULL,
	[reason_others] [bit] NOT NULL,
 CONSTRAINT [PK_ReasonType] PRIMARY KEY CLUSTERED 
(
	[rtid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestForLeave]    Script Date: 11/8/2025 11:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestForLeave](
	[reqid] [int] IDENTITY(1,1) NOT NULL,
	[created_by] [int] NOT NULL,
	[created_time] [datetime2](3) NOT NULL,
	[processed_by] [int] NULL,
	[from] [date] NOT NULL,
	[to] [date] NOT NULL,
	[status] [int] NOT NULL,
	[did] [int] NOT NULL,
	[rtid] [int] NOT NULL,
	[reason_others] [nvarchar](max) NULL,
	[processed_time] [datetime2](3) NULL,
	[decision_note] [nvarchar](max) NULL,
 CONSTRAINT [PK_RequestForLeave] PRIMARY KEY CLUSTERED 
(
	[reqid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 11/8/2025 11:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[rid] [int] IDENTITY(1,1) NOT NULL,
	[rname] [nvarchar](150) NOT NULL,
	[rlevel] [int] NOT NULL,
	[rcode] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[rid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleFeature]    Script Date: 11/8/2025 11:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleFeature](
	[rid] [int] NOT NULL,
	[fid] [int] NOT NULL,
 CONSTRAINT [PK_RoleFeature] PRIMARY KEY CLUSTERED 
(
	[rid] ASC,
	[fid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/8/2025 11:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[uid] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](150) NOT NULL,
	[password] [varchar](150) NOT NULL,
	[displayname] [nvarchar](200) NOT NULL,
	[created_time] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 11/8/2025 11:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[uid] [int] NOT NULL,
	[rid] [int] NOT NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[uid] ASC,
	[rid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([did], [dname], [superior]) VALUES (1, N'Board of Directors', NULL)
INSERT [dbo].[Department] ([did], [dname], [superior]) VALUES (2, N'IT', 1)
INSERT [dbo].[Department] ([did], [dname], [superior]) VALUES (3, N'Marketing', 1)
SET IDENTITY_INSERT [dbo].[Department] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([eid], [ename], [edob], [eaddress], [ephone], [did], [email], [egender], [ManagerID]) VALUES (1, N'Nguyễn Văn A', CAST(N'1998-12-08' AS Date), N'12 Trần Nhân Tông-Hà Nội', N'0123456789', 2, N'a2@gmail.com', 0, 12)
INSERT [dbo].[Employee] ([eid], [ename], [edob], [eaddress], [ephone], [did], [email], [egender], [ManagerID]) VALUES (2, N'Nguyễn Như B', CAST(N'2002-10-10' AS Date), N'Ngã 4-Đan Phượng-Hà Nội', N'0987654321', 5, N'b5@gmail.com', 1, 21)
INSERT [dbo].[Employee] ([eid], [ename], [edob], [eaddress], [ephone], [did], [email], [egender], [ManagerID]) VALUES (3, N'Nguyễn Thị C', CAST(N'1980-10-20' AS Date), N'18 Ngã Tư Trôi-Hoài Đức-Hà Nội', N'0821888999', 1, N'cboss.dr3@gmail.com', 0, NULL)
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
INSERT [dbo].[Enrollment] ([eid], [uid], [active]) VALUES (1, 1, 1)
INSERT [dbo].[Enrollment] ([eid], [uid], [active]) VALUES (2, 2, 1)
INSERT [dbo].[Enrollment] ([eid], [uid], [active]) VALUES (3, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[Feature] ON 

INSERT [dbo].[Feature] ([fid], [url]) VALUES (5, N'/admin/management')
INSERT [dbo].[Feature] ([fid], [url]) VALUES (1, N'/home')
INSERT [dbo].[Feature] ([fid], [url]) VALUES (6, N'/reports/agenda')
SET IDENTITY_INSERT [dbo].[Feature] OFF
GO
SET IDENTITY_INSERT [dbo].[LeaveStatusHistory] ON 

INSERT [dbo].[LeaveStatusHistory] ([hid], [reqid], [new_status], [changed_by_eid], [changed_at], [note]) VALUES (1, 3, 1, 7, CAST(N'2025-11-01T01:06:44.8330000' AS DateTime2), N'Đã duyệt')
INSERT [dbo].[LeaveStatusHistory] ([hid], [reqid], [new_status], [changed_by_eid], [changed_at], [note]) VALUES (2, 2, 1, 3, CAST(N'2025-11-08T12:55:13.7580000' AS DateTime2), N'Oke em! Bữa nào làm cốc nhân trần nhé')
INSERT [dbo].[LeaveStatusHistory] ([hid], [reqid], [new_status], [changed_by_eid], [changed_at], [note]) VALUES (3, 2, 1, 3, CAST(N'2025-11-08T19:55:13.7610000' AS DateTime2), N'Oke em! Bữa nào làm cốc nhân trần nhé')
SET IDENTITY_INSERT [dbo].[LeaveStatusHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[ReasonType] ON 

INSERT [dbo].[ReasonType] ([rtid], [rcode], [rname], [reason_others]) VALUES (1, N'SICK', N'Nghỉ ốm', 0)
INSERT [dbo].[ReasonType] ([rtid], [rcode], [rname], [reason_others]) VALUES (2, N'ANNUAL', N'Nghỉ phép năm', 0)
INSERT [dbo].[ReasonType] ([rtid], [rcode], [rname], [reason_others]) VALUES (3, N'OTHERS', N'Nghỉ lý do khác', 1)
SET IDENTITY_INSERT [dbo].[ReasonType] OFF
GO
SET IDENTITY_INSERT [dbo].[RequestForLeave] ON 

INSERT [dbo].[RequestForLeave] ([reqid], [created_by], [created_time], [processed_by], [from], [to], [status], [did], [rtid], [reason_others], [processed_time], [decision_note]) VALUES (1, 1, CAST(N'2025-11-01T01:06:44.8140000' AS DateTime2), NULL, CAST(N'2025-11-10' AS Date), CAST(N'2025-11-11' AS Date), 0, 2, 1, NULL, NULL, NULL)
INSERT [dbo].[RequestForLeave] ([reqid], [created_by], [created_time], [processed_by], [from], [to], [status], [did], [rtid], [reason_others], [processed_time], [decision_note]) VALUES (2, 4, CAST(N'2025-11-01T01:06:44.8280000' AS DateTime2), 7, CAST(N'2025-11-12' AS Date), CAST(N'2025-11-12' AS Date), 2, 3, 3, N'Gia đình có việc gấp', CAST(N'2025-11-08T21:57:02.5330000' AS DateTime2), N'Nay phòng thiếu nhân viên em ei! Đi làm đi')
INSERT [dbo].[RequestForLeave] ([reqid], [created_by], [created_time], [processed_by], [from], [to], [status], [did], [rtid], [reason_others], [processed_time], [decision_note]) VALUES (3, 6, CAST(N'2025-11-01T01:06:44.8300000' AS DateTime2), 7, CAST(N'2025-11-15' AS Date), CAST(N'2025-11-15' AS Date), 1, 2, 2, NULL, CAST(N'2025-11-01T01:06:44.8310000' AS DateTime2), N'Đã duyệt')
SET IDENTITY_INSERT [dbo].[RequestForLeave] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([rid], [rname], [rlevel], [rcode]) VALUES (1, N'Admin', 0, N'ADMIN')
INSERT [dbo].[Role] ([rid], [rname], [rlevel], [rcode]) VALUES (2, N'Director', 1, N'DIR')
INSERT [dbo].[Role] ([rid], [rname], [rlevel], [rcode]) VALUES (3, N'Manager', 2, N'MAN')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
INSERT [dbo].[RoleFeature] ([rid], [fid]) VALUES (1, 1)
INSERT [dbo].[RoleFeature] ([rid], [fid]) VALUES (1, 2)
INSERT [dbo].[RoleFeature] ([rid], [fid]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([uid], [username], [password], [displayname], [created_time]) VALUES (1, N'a2', N'123', N'Nguyễn Văn A', CAST(N'2025-11-01T01:06:44.7510000' AS DateTime2))
INSERT [dbo].[User] ([uid], [username], [password], [displayname], [created_time]) VALUES (2, N'b5', N'123', N'Nguyễn Như B', CAST(N'2025-11-01T01:06:44.7510000' AS DateTime2))
INSERT [dbo].[User] ([uid], [username], [password], [displayname], [created_time]) VALUES (3, N'cboss.dr3', N'123', N'Nguyễn Thị C', CAST(N'2025-11-01T01:06:44.7510000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[User] OFF
GO
INSERT [dbo].[UserRole] ([uid], [rid]) VALUES (1, 5)
INSERT [dbo].[UserRole] ([uid], [rid]) VALUES (2, 5)
INSERT [dbo].[UserRole] ([uid], [rid]) VALUES (3, 2)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UNIQ_Department_dname]    Script Date: 11/8/2025 11:22:47 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UNIQ_Department_dname] ON [dbo].[Department]
(
	[dname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UNIQ_Employee_email]    Script Date: 11/8/2025 11:22:47 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UNIQ_Employee_email] ON [dbo].[Employee]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UNIQ_Employee_ephone]    Script Date: 11/8/2025 11:22:47 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UNIQ_Employee_ephone] ON [dbo].[Employee]
(
	[ephone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UNIQ_Feature_url]    Script Date: 11/8/2025 11:22:47 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UNIQ_Feature_url] ON [dbo].[Feature]
(
	[url] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UNIQ_ReasonType_rcode]    Script Date: 11/8/2025 11:22:47 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UNIQ_ReasonType_rcode] ON [dbo].[ReasonType]
(
	[rcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UNIQ_Role_rcode]    Script Date: 11/8/2025 11:22:47 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UNIQ_Role_rcode] ON [dbo].[Role]
(
	[rcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UNIQ_User_username]    Script Date: 11/8/2025 11:22:47 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UNIQ_User_username] ON [dbo].[User]
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Enrollment] ADD  CONSTRAINT [DF_Enrollment_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[LeaveStatusHistory] ADD  CONSTRAINT [DF_LeaveStatusHistory_changed_at]  DEFAULT (sysutcdatetime()) FOR [changed_at]
GO
ALTER TABLE [dbo].[ReasonType] ADD  CONSTRAINT [DF_ReasonType_reason_others]  DEFAULT ((0)) FOR [reason_others]
GO
ALTER TABLE [dbo].[RequestForLeave] ADD  CONSTRAINT [DF_RequestForLeave_created_time]  DEFAULT (sysutcdatetime()) FOR [created_time]
GO
ALTER TABLE [dbo].[RequestForLeave] ADD  CONSTRAINT [DF_RequestForLeave_status]  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_created_time]  DEFAULT (sysutcdatetime()) FOR [created_time]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Department] FOREIGN KEY([did])
REFERENCES [dbo].[Department] ([did])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Department]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Manager] FOREIGN KEY([ManagerID])
REFERENCES [dbo].[Employee] ([eid])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Manager]
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD  CONSTRAINT [FK_Enrollment_Employee] FOREIGN KEY([eid])
REFERENCES [dbo].[Employee] ([eid])
GO
ALTER TABLE [dbo].[Enrollment] CHECK CONSTRAINT [FK_Enrollment_Employee]
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD  CONSTRAINT [FK_Enrollment_User] FOREIGN KEY([uid])
REFERENCES [dbo].[User] ([uid])
GO
ALTER TABLE [dbo].[Enrollment] CHECK CONSTRAINT [FK_Enrollment_User]
GO
ALTER TABLE [dbo].[LeaveStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_LeaveStatusHistory_Employee] FOREIGN KEY([changed_by_eid])
REFERENCES [dbo].[Employee] ([eid])
GO
ALTER TABLE [dbo].[LeaveStatusHistory] CHECK CONSTRAINT [FK_LeaveStatusHistory_Employee]
GO
ALTER TABLE [dbo].[LeaveStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_LeaveStatusHistory_RequestForLeave] FOREIGN KEY([reqid])
REFERENCES [dbo].[RequestForLeave] ([reqid])
GO
ALTER TABLE [dbo].[LeaveStatusHistory] CHECK CONSTRAINT [FK_LeaveStatusHistory_RequestForLeave]
GO
ALTER TABLE [dbo].[RequestForLeave]  WITH CHECK ADD  CONSTRAINT [FK_RequestForLeave_Department] FOREIGN KEY([did])
REFERENCES [dbo].[Department] ([did])
GO
ALTER TABLE [dbo].[RequestForLeave] CHECK CONSTRAINT [FK_RequestForLeave_Department]
GO
ALTER TABLE [dbo].[RequestForLeave]  WITH CHECK ADD  CONSTRAINT [FK_RequestForLeave_Employee_Created] FOREIGN KEY([created_by])
REFERENCES [dbo].[Employee] ([eid])
GO
ALTER TABLE [dbo].[RequestForLeave] CHECK CONSTRAINT [FK_RequestForLeave_Employee_Created]
GO
ALTER TABLE [dbo].[RequestForLeave]  WITH CHECK ADD  CONSTRAINT [FK_RequestForLeave_Employee_Processed] FOREIGN KEY([processed_by])
REFERENCES [dbo].[Employee] ([eid])
GO
ALTER TABLE [dbo].[RequestForLeave] CHECK CONSTRAINT [FK_RequestForLeave_Employee_Processed]
GO
ALTER TABLE [dbo].[RequestForLeave]  WITH CHECK ADD  CONSTRAINT [FK_RequestForLeave_ReasonType] FOREIGN KEY([rtid])
REFERENCES [dbo].[ReasonType] ([rtid])
GO
ALTER TABLE [dbo].[RequestForLeave] CHECK CONSTRAINT [FK_RequestForLeave_ReasonType]
GO
ALTER TABLE [dbo].[RoleFeature]  WITH CHECK ADD  CONSTRAINT [FK_RoleFeature_Feature] FOREIGN KEY([fid])
REFERENCES [dbo].[Feature] ([fid])
GO
ALTER TABLE [dbo].[RoleFeature] CHECK CONSTRAINT [FK_RoleFeature_Feature]
GO
ALTER TABLE [dbo].[RoleFeature]  WITH CHECK ADD  CONSTRAINT [FK_RoleFeature_Role] FOREIGN KEY([rid])
REFERENCES [dbo].[Role] ([rid])
GO
ALTER TABLE [dbo].[RoleFeature] CHECK CONSTRAINT [FK_RoleFeature_Role]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_Role] FOREIGN KEY([rid])
REFERENCES [dbo].[Role] ([rid])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_Role]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_User] FOREIGN KEY([uid])
REFERENCES [dbo].[User] ([uid])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_User]
GO
ALTER TABLE [dbo].[RequestForLeave]  WITH CHECK ADD  CONSTRAINT [Constraint_RequestForLeave_CheckRange] CHECK  (([from]<=[to]))
GO
ALTER TABLE [dbo].[RequestForLeave] CHECK CONSTRAINT [Constraint_RequestForLeave_CheckRange]
GO
ALTER TABLE [dbo].[RequestForLeave]  WITH CHECK ADD  CONSTRAINT [Constraint_RequestForLeave_status] CHECK  (([status]=(2) OR [status]=(1) OR [status]=(0)))
GO
ALTER TABLE [dbo].[RequestForLeave] CHECK CONSTRAINT [Constraint_RequestForLeave_status]
GO
/****** Object:  Trigger [dbo].[trg_RFL_RequireReasonDetail]    Script Date: 11/8/2025 11:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- TẠO CÁC TRIGGER
-- Trigger 1: Yêu cầu nhập lý do chi tiết
CREATE TRIGGER [dbo].[trg_RFL_RequireReasonDetail]
ON [dbo].[RequestForLeave]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    -- Nếu chọn Other mà không nhập lý do thì chặn
    IF EXISTS (
        SELECT 1
        FROM inserted i
        JOIN dbo.ReasonType t ON t.rtid = i.rtid
        WHERE t.reason_others = 1
          AND (i.reason_others IS NULL OR LTRIM(RTRIM(i.reason_others)) = '')
    )
    BEGIN
        RAISERROR (N'Khi chọn "Lý do khác" phải nhập lý do chi tiết.', 16, 1);
        ROLLBACK TRANSACTION;
        RETURN;
    END;
    -- Nếu loại lý do không yêu cầu chi tiết → xóa nội dung thừa
    UPDATE r
    SET r.reason_others = NULL
    FROM dbo.RequestForLeave r
    JOIN inserted i ON r.reqid = i.reqid -- Sửa: Dùng reqid
    JOIN dbo.ReasonType t ON t.rtid = i.rtid
    WHERE t.reason_others = 0 AND r.reason_others IS NOT NULL;
END
GO
ALTER TABLE [dbo].[RequestForLeave] ENABLE TRIGGER [trg_RFL_RequireReasonDetail]
GO
/****** Object:  Trigger [dbo].[trg_RFL_StatusHistory]    Script Date: 11/8/2025 11:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Trigger 2: Tự động ghi lịch sử status
CREATE TRIGGER [dbo].[trg_RFL_StatusHistory]
ON [dbo].[RequestForLeave]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    -- Chỉ ghi khi status đổi
    INSERT dbo.LeaveStatusHistory (reqid, new_status, changed_by_eid, changed_at, note) -- Sửa: DDùng reqid
    SELECT i.reqid, i.status, i.processed_by, SYSUTCDATETIME(), i.decision_note -- Sửa: Dùng reqid
    FROM inserted i
    JOIN deleted  d ON d.reqid = i.reqid -- Sửa: Dùng reqid
    WHERE ISNULL(i.status,-1) <> ISNULL(d.status,-1);
END
GO
ALTER TABLE [dbo].[RequestForLeave] ENABLE TRIGGER [trg_RFL_StatusHistory]
GO
USE [master]
GO
